@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <section class="col-sm-4 justify-content-center">
            <h1>About Me</h1>
            <p>Hey, I'm a full-stack .NET web developer based out of Central Florida. From a young age, I had a passion for technology in general and coding specifically. I started doing Codecademy when I was about 16, and I "re-found" coding about a year ago. <br /><br /> Ever since then, I've been back to learning all the things you create with a good idea and a computer. In fact, I created this blog application from the ground up using .NET, C#, and patterns like MVC and MVVM. I'm super excited to be a part of this ever-evolving coding future! <br /> <br />If you like what you find here, feel free to connect with me below on social media.</p>
        </section>
    </div>
</div>