@page
@model ForgotPasswordModel
@{
    ViewData["HeaderImage"] = "/images/home-bg.jpg";
    ViewData["MainText"] = "Brenden's Blog";
    ViewData["SubText"] = "Coding & Life";
    ViewData["Title"] = "Forgot Password";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <section class="col-sm-4 justify-content-center">
            <form method="post">
                <h4>Enter your email.</h4>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-md rounded btn-primary mt-2 mb-4">Submit</button>
            </form>
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
