@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container">
    <div class="row justify-content-center">
        <section class="col-sm-4 justify-content-center">
            <h1>@ViewData["Title"]</h1>
            Please check your email to reset your password.
        </section>
    </div>
</div>

